<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="style/forgot.css">
    
</head>
<body>
    <div><h1>EXPENSE TRACKER</h1></div>
      <hr>
    <form onsubmit="forgot_password(event)">
        <label for="forgot_password">Reset Password</label> <br><br>
        <input type="email" name="reset_email" placeholder="enter your email"><br><br>
        <button type="submit">Reset Password</button>
    </form>
    <br>
    <div id="success_forgot_msg">

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js"></script>
    <script src="forget_password.js"></script>
</body>
</html>